<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Faça seu Cadastro</h1>

    <form action="/cadastro" method="POST">
        <label for="nome">Nome:</label>
        <input name="nome" type="text">

        <label for="user">User:</label>
        <input name="user" type="text">

        <label for="password">Password:</label>
        <input name="password" type="password">

        <input type="submit" value="Cadastrar">
    </form>

    <form action="/" method="GET">
        <input type="submit" value="Voltar a Home">
    </form>
</body>
</html>